<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="description" content="html template">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Triv logic">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> TrivLogic | Innovative Digital Solutions That Drive Business Growth </title>

    <link rel="icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/main.css">
     <link rel="stylesheet" href="assets/css/career.css">
      <link rel="stylesheet" href="assets/css/service.css">
      <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css">

</head>

<body>

    <!-- preloader start -->
    <div class="loader-wrap">
        <div class="loader">
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__ball"></div>
        </div>

    </div>
    <!-- preloader end -->

    
    <!-- Cursor Animation -->
    <div class="cursor1"></div>
    <div class="cursor2"></div>
    <!-- sidebar-information-area-start -->
    <div class="sidebar-info side-info">
        <div class="sidebar-logo-wrapper mb-25">
            <div class="row align-items-center">
                <div class="col-xl-6 col-8">
                    <div class="sidebar-logo">
                        <a href="index.html">

                            <img src="/assets/images/hero/trivlogic-logo-whiteback-removebg.png"
                                alt="<%= siteName || 'Triv Logic' %>">

                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-4">
                    <div class="sidebar-close-wrapper text-end">
                        <button class="sidebar-close side-info-close"><i class="fal fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-menu-wrapper fix">
            <div class="mobile-menu"></div>
        </div>

        <div class="sidebar-contact-wrapper mt-40">
            <div class="sidebar-contact mb-40">
                <h4 class="sidebar-contact-title">Contact Info</h4>
                <span class="sidebar-address">
                    <i class="fal fa-map-marker-alt"></i>
                    <span>India, UK</span>
                </span>
                <br>
                <a href="tel:+918848609311" class="sidebar-phone">
                    <i class="fal fa-phone"></i>
                    <span>India: +91 8848 60 9311</span>
                </a>
                <br>
                <a href="tel:+447771868301" class="sidebar-phone">
                    <i class="fal fa-phone"></i>
                    <span>UK: +44 7771 86 8301</span>
                </a>
                <br>
                <a href="mailto:info@trivlogic.com" class="sidebar-email">
                    <i class="fal fa-envelope"></i>
                    <span>info@trivlogic.com</span>
                </a>
            </div>

            <div class="sidebar-social mt-40 mb-30">
                <a href="#" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" target="_blank" class="youtube"><i class="fab fa-dribbble"></i></a>
            </div>
        </div>
    </div>


    <div class="offcanvas-overlay"></div>

    <!-- sidebar-information-area-end -->

    <div class="has-smooth" id="has_smooth"></div>

    <div id="smooth-wrapper">
        <div id="smooth-content">
            <div class="body-wrapper">
                <!-- Start Main Header -->
                <header class="eb_h3-header-area">
                    <div class="eb_h3-header-main">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-2 col-lg-2 col-6">
                                    <div class="eb_h2-header-logo">
                                        <a href="#">
                                            <img class="header-logo"
                                                src="/assets/images/hero/trivlogic-logo-whiteback-removebg.png"
                                                alt="<%= siteName || 'Triv Logic' %>">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-7 d-none d-lg-block">

                                    <div class="eb_h2-header-menu">
                                        <nav id="mobile-menu">
                                            <ul>

                                                <li> <a href="index.html">Home</a> </li>
                                                <li> <a href="about.html">About</a> </li>



                                                <li class="menu-has-child">
                                                    <a href="service.html">Service</a>
                                                    <ul class="submenu">
                                                        <li><a href="webdev-service.html">Web Development</a></li>
                                                        <li><a href="software-dev-service.html">Software Development</a>
                                                        </li>
                                                        <li><a href="mobile-app-dev-service.html">Mobile App
                                                                Development</a></li>
                                                        <li><a href="digital-mark-service.html">Digital Marketing</a>
                                                        </li>
                                                        <li><a href="Branding-service.html">Branding</a></li>
                                                        <li><a href="seo-service.html">SEO</a></li>

                                                    </ul>
                                                </li>

                                              <li class="menu-has-child">
                                                    <a href="#">Project</a>
                                                    <ul class="submenu">
                                                        <li><a href="projects.html">Project </a></li>
                                                        <li><a href="projectDetails.html">Project Details</a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-has-child">
                                                    <a href="#">News</a>
                                                    <ul class="submenu">
                                                        <li><a href="blog.html">News</a></li>
                                                        <li><a href="blog-details.html">News Details</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="career.html">Career</a></li>
                                                <li><a href="contact.html">Contact</a></li>

                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-6">
                                    <div class="eb_h2-header-action">
                                        <a href="#" class="eb_h3-theme-btn">Get a Quote</a>
                                        <div class="eb_h4-menubar side-toggle d-lg-none">
                                            <span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- End Main Header -->


                <!-- breadcrumb area start -->
                <section class="eb-breadcrumb-area">
                    <div class="eb-breadcrumb-wrap">
                        <div class="eb-breadcrumb-content">
                            <h1 class="heading__reveal_anim">Contact</h1>
                            <div class="eb-breadcrumb-list subtitle__reveal_anim">
                                <a href="#">Home</a>
                                <span>Contact us</span>
                            </div>
                        </div>
                        <div style="margin-top: -14rem; height: 200px!important;" class="eb-breadcrumb-img">
                            <img src="assets/images/about/bnr.jpg" alt="">
                        </div>
                      
                    </div>
                </section>
                <!-- breadcrumb area end -->

                <!-- contact area start -->
                <section class="contact-area pt-120 ">
                    <div class="container">
                        <div class="contact-wrap">
                            <div class="row">
                                <div class="col-xl-6 col-md-6">
                                    <div class="contact-content pr-80 mb-20">
                                        <h3 class="contact-title mb-25">Send Me Message</h3>
                                        <form action="#" class="contact-form">
                                            <div class="row">
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6">
                                                    <div class="contact-form-input mb-30">
                                                        <input type="text" placeholder="Your Name">
                                                        <span class="inner-icon"><i class="fa-thin fa-user"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6">
                                                    <div class="contact-form-input mb-30">
                                                        <input type="email" placeholder="Email Address">
                                                        <span class="inner-icon"><i class="fa-thin fa-envelope"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6">
                                                    <div class="contact-form-input mb-30">
                                                        <input type="text" placeholder="Your Number">
                                                        <span class="inner-icon"><i class="fa-thin fa-phone-volume"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-6 ">
                                                    <div class="contact-form-input">
                                                        <span class="inner-icon inner-icon-select"><i class="fa-thin fa-circle-exclamation"></i></span>
                                                        <select name="select" class="contact-form-list has-nice-select mb-30">
                                                            <option value="1">Select Subject</option>
                                                            <option value="2">Art & Design</option>
                                                            <option value="3">Graphic Design</option>
                                                            <option value="4">Web Design</option>
                                                            <option value="5">UX/UI Design</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="contact-form-input mb-50 contact-form-textarea">
                                                        <textarea name="message" cols="30" rows="10" placeholder="Feel free to get in touch!"></textarea>
                                                        <span class="inner-icon"><i class="fa-thin fa-pen"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                         <div class="contact-form-condition mb-15">
                                                            <label class="condition_label">I agree that my data is collected and stored.
                                                                <input type="checkbox">
                                                                <span class="check_mark"></span>
                                                            </label>
                                                        </div>

                                                    <div class="contact-form-submit mb-30">                                                       
                                                   
                                                        <div class="contact-form-btn">
                                                            <a href="#" class="eb_h3-theme-btn contact-btn">Send Message</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                    <div class="col-xl-6 col-md-6">
    <div class="contact-info ml-50 mb-20">
        <h3 class="contact-title mb-40">Get In Touch</h3>

        <!-- India Address -->
        <div class="contact-info-item">
            <span><i class="fa-thin fa-location-dot"></i> India:</span>
            <p>
                Fortune Spaces, SP Heights Western Wing <br>
                S.P Lane, Enchakal, Vallakadavu P.O <br>
                Trivandrum - 695008
            </p>
        </div>

        <!-- UK Address -->
        <div class="contact-info-item">
            <span><i class="fa-thin fa-location-dot"></i> United Kingdom:</span>
            <p>
                Marlborough House, 32–36 Hazelwood Road 
                S.P Lane, Enchakal, Northampton, 
                NN1 1LN United Kingdom
            </p>
        </div>

        <!-- Phone -->
        <div class="contact-info-item">
            <span><i class="fa-thin fa-mobile-notch"></i>Contact</span>
            <p>
              <span> India: <a href="tel:+918848609311">+91 8848 60 9311</a><br></span> 
             <span> India: <a href="tel:+918123010000">+91 8123010000</a><br></span>  
            <span> UK: <a href="tel:+447771868301">+44 7771 86 8301</a></span>   
            </p>
        </div>

        <!-- Email -->
        <div class="contact-info-item">
            <span><i class="fa-thin fa-envelope"></i>Email</span>
            <a href="mailto:info@trivlogic.com">info@trivlogic.com</a>
        </div>

        <!-- Social -->
        <div class="contact-social">
            <span>Social Media</span>
            <ul>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            </ul>
        </div>
    </div>
</div>

                            </div>
                        </div>
                    </div>
                    <div class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3946.1979228037458!2d76.93041917477123!3d8.480126897339558!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bb9825ab93d1%3A0x386bffd88b8f84cb!2sFortune%20Spaces%20-%20Virtual%20Office%20%26%20Coworking%20Space%20In%20Thiruvananthapuram!5e0!3m2!1sen!2sin!4v1757337021709!5m2!1sen!2sin" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </section>
                <!-- contact area end -->

                <!-- footer area start -->

                <footer class="eb_h3-footer-area">
                    <div class="eb_h3-footer-top pt-80 pb-60">
                        <img src="assets/images/bg/h3_footer-shape.png" alt="" class="eb_h3-footer-shape-1">
                        <img src="assets/images/bg/h3_footer-shape-2.png" alt="" class="eb_h3-footer-shape-2">
                        <div class="container">
                            <div class="row justify-content-between">

                                <!-- Address Section -->
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-7">
                                    <div class="eb_h3-footer-widget1 mb-30">
                                        <div class="eb_h3-footer-logo">
                                            <a href="index.html">
                                                <img src="assets/images/logo/logo.webp" alt="Triv Logic">
                                            </a>
                                        </div>
                                        <div class="eb_h3-footer-para">
                                            <h8>Your trusted partner for innovative digital solutions, web development,
                                                and branding strategies that drive business growth.</h8>
                                        </div>

                                        <div class="eb_h3-footer-social">
                                            <ul>
                                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Services Section -->
                                <div class="col-xl-2 col-lg-2 col-sm-5">
                                    <div class="eb_h3-footer-widget mb-30">
                                        <h3 class="eb_h3-footer-widget-title">Services</h3>
                                        <ul>
                                            <li><a href="#">Web Development</a></li>
                                            <li><a href="#">Digital Marketing</a></li>
                                            <li><a href="#">Software Development</a></li>
                                            <li><a href="#">Branding Solutions</a></li>
                                            <li><a href="#">SEO Optimization</a></li>
                                            <li><a href="#">Mobile App Development</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Navigation Links -->
                                <div class="col-xl-2 col-lg-2 col-sm-5">
                                    <div class="eb_h3-footer-widget mb-30">
                                        <h3 class="eb_h3-footer-widget-title">Quick Links</h3>
                                        <ul>
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Projects</a></li>
                                            <li><a href="#">News</a></li>
                                            <li><a href="#">Career</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Contact Section (Improved with grouping + icons) -->
                                <div class="col-xl-2 col-lg-3 col-sm-6">
                                    <div class="eb_h3-footer-widget mb-30">
                                        <h3 class="eb_h3-footer-widget-title">Contact</h3>
                                        <ul>
                                            <li><strong>India:</strong></li>
                                            <li><a href="tel:+918848609311">+91 8848609311</a></li>
                                            <li> <a href="tel:+918123010000">+91 8123010000</a></li>

                                            <li class="mt-2"><strong>United Kingdom:</strong></li>
                                            <li> <a href="tel:+447771868301">+44 7771868301</a></li>

                                            <li class="mt-2"><i class="fa-solid fa-envelope"></i>
                                                <a href="mailto:info@trivlogic.com">info@trivlogic.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Employee Login Portal -->
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-7">
                                    <div class="eb_h3-footer-widget mb-30">
                                        <h3 class="eb_h3-footer-widget-title">Employee Login Portal</h3>
                                        <form action="#">
                                            <input type="email" placeholder="Enter Your Email">
                                            <input type="password" placeholder="Enter Password">
                                            <button type="submit">Login <i
                                                    class="fa-light fa-arrow-up-right"></i></button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="eb_h3-footer-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="eb_h3-footer-copyright-text">
                                        <p>©2025 Triv Logic. All Rights Reserved.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="eb_h3-footer-menu">
                                        <ul>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Terms of Service</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- footer area end -->




            </div>
        </div>
    </div>
                    <!-- Floating contact icons -->
    <div class="edug-contact-icons" id="contactIcons">
        <a href="https://wa.me/+918655897610" target="_blank" class="edug-contact-icon" data-tooltip="Chat on WhatsApp">
            <i class="lni lni-whatsapp"></i>
        </a>
        <a href="mailto:info@eduglobal.in" class="edug-contact-icon" data-tooltip="Send us an Email">
            <i class="lni lni-envelope"></i>
        </a>
        <a href="tel:+918655897610" class="edug-contact-icon" data-tooltip="Call us Now">
            <i class="lni lni-phone"></i>
        </a>
        <a href="#" class="edug-contact-icon" data-tooltip="Live Chat">
            <i class="lni lni-comments"></i>
        </a>
    </div>

    <!-- Back to top with progress -->
    <button class="back-to-top" id="backToTop" aria-label="Back to top">
        <svg class="progress-ring" width="60" height="60">
            <circle class="progress-ring-bg" cx="30" cy="30" r="26" />
            <circle class="progress-ring-fill" cx="30" cy="30" r="26" />
        </svg>
        <i class="lni lni-arrow-up"></i>
    </button>



    <!-- jQuery Js -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script> 
    <script src="assets/js/gsap.min.js"></script>
    <script src="assets/js/ScrollSmoother.min.js"></script>
    <script src="assets/js/ScrollTrigger.min.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/SplitText.min.js"></script>
    <script src="assets/js/chroma.min.js"></script>
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/jquery.bxslider.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/main.js"></script>

    <script>
        const backToTopBtn = document.getElementById('backToTop');
        const contactIcons = document.getElementById('contactIcons');
        const progressCircle = document.querySelector('.progress-ring-fill');
        const radius = 26;
        const circumference = 2 * Math.PI * radius;

        progressCircle.style.strokeDasharray = `${circumference}`;
        progressCircle.style.strokeDashoffset = `${circumference}`;

        function updateScrollProgress() {
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            const scrollHeight = document.documentElement.scrollHeight - window.innerHeight;
            const scrollProgress = scrollTop / scrollHeight;

            const offset = circumference - scrollProgress * circumference;
            progressCircle.style.strokeDashoffset = offset;

            if (scrollTop > 300) {
                backToTopBtn.classList.add('visible');
                contactIcons.classList.add('visible');
            } else {
                backToTopBtn.classList.remove('visible');
                contactIcons.classList.remove('visible');
            }
        }

        window.addEventListener('scroll', updateScrollProgress);

        backToTopBtn.addEventListener('click', () => {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    </script>

 
  </body>


</html>
