<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="description" content="html template">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Triv logic">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> TrivLogic | Innovative Digital Solutions That Drive Business Growth </title>

    <link rel="icon" href="assets/images/hero/trivlogic-logo-blue-background-removebg.png">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/meanmenu.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/main.css">
     <link rel="stylesheet" href="assets/css/career.css">
      <link rel="stylesheet" href="assets/css/service.css">
      <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css">

</head>

<body>

    <!-- preloader start -->
    <div class="loader-wrap">
        <div class="loader">
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__ball"></div>
        </div>

    </div>
    <!-- preloader end -->

    
    <!-- Cursor Animation -->
    <div class="cursor1"></div>
    <div class="cursor2"></div>
    <!-- sidebar-information-area-start -->
    <div class="sidebar-info side-info">
        <div class="sidebar-logo-wrapper mb-25">
            <div class="row align-items-center">
                <div class="col-xl-6 col-8">
                    <div class="sidebar-logo">
                        <a href="index.html">

                            <img src="assets/images/hero/trivlogic-logo-whiteback-removebg.png"
                                alt="<%= siteName || 'Triv Logic' %>">

                        </a>
                    </div>
                </div>
                <div class="col-xl-6 col-4">
                    <div class="sidebar-close-wrapper text-end">
                        <button class="sidebar-close side-info-close"><i class="fal fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar-menu-wrapper fix">
            <div class="mobile-menu"></div>
        </div>

        <div class="sidebar-contact-wrapper mt-40">
            <div class="sidebar-contact mb-40">
                <h4 class="sidebar-contact-title">Contact Info</h4>
                <span class="sidebar-address">
                    <i class="fal fa-map-marker-alt"></i>
                    <span>India, UK</span>
                </span>
                <br>
                <a href="tel:+918848609311" class="sidebar-phone">
                    <i class="fal fa-phone"></i>
                    <span>India: +91 8848 60 9311</span>
                </a>
                <br>
                <a href="tel:+447771868301" class="sidebar-phone">
                    <i class="fal fa-phone"></i>
                    <span>UK: +44 7771 86 8301</span>
                </a>
                <br>
                <a href="mailto:info@trivlogic.com" class="sidebar-email">
                    <i class="fal fa-envelope"></i>
                    <span>info@trivlogic.com</span>
                </a>
            </div>

            <div class="sidebar-social mt-40 mb-30">
                <a href="#" target="_blank" class="facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" target="_blank" class="youtube"><i class="fab fa-dribbble"></i></a>
            </div>
        </div>
    </div>


    <div class="offcanvas-overlay"></div>

    <!-- sidebar-information-area-end -->

    <div class="has-smooth" id="has_smooth"></div>

   
                <!-- Start Main Header -->
                <header class="eb_h3-header-area">
                    <div class="eb_h3-header-main">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-xl-2 col-lg-2 col-6">
                                    <div class="eb_h2-header-logo">
                                        <a href="#">
                                            <img class="header-logo"
                                                src="assets/images/hero/trivlogic-logo-whiteback-removebg.png"
                                                alt="<%= siteName || 'Triv Logic' %>">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-7 d-none d-lg-block">

                                    <div class="eb_h2-header-menu">
                                        <nav id="mobile-menu">
                                            <ul>

                                                <li> <a href="index.html">Home</a> </li>
                                                <li> <a href="about.html">About</a> </li>



      <li class="menu-has-child">
                                        <a href="service.html">Services</a>
                                        <ul class="submenu">
                                            <li><a href="webdev-service.html">Web Development</a></li>
                                            <li><a href="software-dev-service.html">Software Development</a></li>
                                            <li><a href="mobile-app-dev-service.html">Mobile App Development</a></li>
                                            <li><a href="digital-mark-service.html">Digital Marketing</a></li>
                                            <li><a href="Branding-service.html">Branding</a></li>
                                            <li><a href="seo-service.html">SEO</a></li>

                                        </ul>
                                    </li>
                                           <li> <a href="projects.html">Projects</a> </li>

                                    <li> <a href="blog.html">News</a> </li>
                                    <li><a href="career.html">Careers</a></li>
                                    <li><a href="contact.html">Contact</a></li>

                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-6">
                                    <div class="eb_h2-header-action">
                                       <a href="/contact.html" class="eb_h3-theme-btn">Get a Quote</a>
                                        <div class="eb_h4-menubar side-toggle d-lg-none">
                                            <span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <!-- Start Main Header -->
 <div id="smooth-wrapper">
        <div id="smooth-content">
            <div class="body-wrapper">

                <!-- breadcrumb area start -->
                <section class="eb-breadcrumb-area pb-150 mb-110">
                    <div class="eb-breadcrumb-wrap">
                        <div class="eb-breadcrumb-content">
                            <h1 class="heading__reveal_anim">Service</h1>
                            <div class="eb-breadcrumb-list subtitle__reveal_anim">
                                <a href="#">Home</a>
                                <span>Service</span>
                            </div>
                        </div>
                        <div style="margin-top: -14rem; height: 200px!important;" class="eb-breadcrumb-img">
                            <img src="assets/images/about/bnr.jpg" alt="">
                        </div>
                      
                    </div>
                </section>
                <!-- breadcrumb area end -->


                <!-- service area start -->
             <!--   <section class="eb_h5-service-area pt-120 pb-70">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="eb_h5-service-left mb-50">
                                    <div class="eb_h5-section-area mb-55">
                                        <span class="eb_h2-section-subtitle subtitle__reveal_anim">Consulting Bar Graph</span>
                                        <h2 class="eb_h5-section-title heading__reveal_anim eb_h5-section-title-small mb-0">Linking industry professionals and specialized hubs through a platform tailored for transparent communication.</h2>
                                    </div>
                                    <div class="eb_h5-service-img ml-60">
                                        <img src="assets/images/bg/h5_graph-1.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="eb_h5-service-content pl-80 mb-50">
                                    <div class="accordion" id="accordionExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <p><span>01</span>Digital Transformation</p>
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <img src="assets/images/bg/h5_graph-2.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <p><span>01</span>Strategic Consulting</p>
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <img src="assets/images/bg/h5_graph-2.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    <p><span>01</span>Technology Solutions</p>
                                                </button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <img src="assets/images/bg/h5_graph-2.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingFour">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    <p><span>01</span>Marketing Excellence</p>
                                                </button>
                                            </h2>
                                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <img src="assets/images/bg/h5_graph-2.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->
                <!-- service area end -->

            

                <!--new service cards-->

<div class="service container py-5">
  <div class="service row g-0">
    <!-- Service Box -->
    <div class="col-lg-3 col-md-6 square-box">
      <div class="service-box h-100">
        <div class="service-icon"><i class="fa-solid fa-clipboard-list fa-2x"></i></div>
        <h3 class="service-title mt-2">Web Development</h3>
        <p class="service-description">Fusce dignissim erat dis proin ornare class sem nibh</p>
        <div class="learn-more">
          <p>Extra details about business solutions go here.</p>
        </div>
        <a href="webdev-service.html" class="learn-more-link">Learn More  <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>

    <!-- Image -->
    <div class="col-lg-3 col-md-6 square-box">
      <div class="center-image-container">
        <img src="assets/images/service/1.webp" class="center-image" alt="">
      </div>
    </div>

    <!-- Service Box -->
    <div class="col-lg-3 col-md-6 square-box">
      <div class="service-box h-100">
        <div class="service-icon"><i class="fa-solid fa-bullhorn fa-2x"></i></div>
        <h3 class="service-title mt-2">Digital Marketing</h3>
        <p class="service-description">Fusce dignissim erat dis proin ornare class sem nibh</p>
        <div class="learn-more"> 
          <p>Extra details about marketing solutions go here.</p>
        </div>
        <a href="digital-mark-service.html" class="learn-more-link">Learn More  <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>

    <!-- Image -->
    <div class="col-lg-3 col-md-6 square-box">
      <div class="center-image-container">
        <img src="assets/images/service/2.png" class="center-image" alt="">
      </div>
    </div>
  </div>

    <div class="row g-0">
    
      <!-- Image -->
    <div class="col-lg-3 col-md-6 square-box">
      <div class="center-image-container">
        <img src="assets/images/service/3.jpg" class="center-image" alt="">
      </div>
    </div>
    
        <!-- Service Box -->
    <div class="col-lg-3 col-md-6 square-box">
      <div class="service-box">
        <div class="service-icon"><i class="fa-solid fa-clipboard-list fa-2x"></i></div>
        <h3 class="service-title mt-2">Software Development</h3>
        <p class="service-description">Fusce dignissim erat dis proin ornare class sem nibh</p>
        <div class="learn-more">
          <p>Extra details about business solutions go here.</p>
        </div>
        <a href="software-dev-service.html" class="learn-more-link">Learn More  <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>

      <!-- Image -->
    <div class="col-lg-3 col-md-6 square-box">
      <div class="center-image-container">
        <img src="assets/images/service/4.png" class="center-image" alt="">
      </div>
    </div>

  

    <!-- Service Box -->
    <div class="col-lg-3 col-md-6 square-box">
      <div class="service-box">
        <div class="service-icon"><i class="fa-solid fa-bullhorn fa-2x"></i></div>
        <h3 class="service-title mt-2">Branding Solutions</h3>
        <p class="service-description">Fusce dignissim erat dis proin ornare class sem nibh</p>
        <div class="learn-more"> 
          <p>Extra details about marketing solutions go here.</p>
        </div>
        <a href="Branding-service.html" class="learn-more-link">Learn More  <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>


    <div class="row g-0">
    <!-- Service Box -->
    <div class="col-lg-3 col-md-6 square-box">
      <div class="service-box">
        <div class="service-icon"><i class="fa-solid fa-clipboard-list fa-2x"></i></div>
        <h3 class="service-title mt-2">SEO Optimization</h3>
        <p class="service-description">Fusce dignissim erat dis proin ornare class sem nibh</p>
        <div class="learn-more">
          <p>Extra details about business solutions go here.</p>
        </div>
        <a href="seo-service.html" class="learn-more-link">Learn More  <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>

    <!-- Image -->
    <div class="col-lg-3 col-md-6 square-box">
      <div class="center-image-container">
        <img src="assets/images/service/5.png" class="center-image" alt="">
      </div>
    </div>

    <!-- Service Box -->
    <div class="col-lg-3 col-md-6 square-box">
      <div class="service-box">
        <div class="service-icon"><i class="fa-solid fa-bullhorn fa-2x"></i></div>
        <h3 class="service-title mt-2">Mobile App Development </h3>
        <p class="service-description">Fusce dignissim erat dis proin ornare class sem nibh</p>
        <div class="learn-more"> 
          <p>Extra details about marketing solutions go here.</p>
        </div>
        <a href="mobile-app-dev-service.html" class="learn-more-link">Learn More  <i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>

    <!-- Image -->
    <div class="col-lg-3 col-md-6 square-box">
      <div class="center-image-container">
        <img src="assets/images/service/6.png" class="center-image" alt="">
      </div>
    </div>
  </div>
  
  </div>
</div>

    <!--new service cards area end-->

                      <!-- video area start -->
                <div class="eb_h5-video-area">
                    <div class="eb_h5-video-wrap">
                        <img src="assets/images/bg/h5_video.png" alt="">
                        <div class="eb_h5-video-count">
                            <h2>253+</h2>
                            <span>Projects Completed</span>
                        </div>
                        <a href="#" class="eb_h5-video-play"><i class="fa-solid fa-play"></i></a>
                    </div>
                </div>
                <!-- video area end -->
                

               <!-- footer area start -->

                <footer class="eb_h3-footer-area">
                    <div class="eb_h3-footer-top pt-80 pb-60">
                        <img src="assets/images/bg/h3_footer-shape.png" alt="" class="eb_h3-footer-shape-1">
                        <img src="assets/images/bg/h3_footer-shape-2.png" alt="" class="eb_h3-footer-shape-2">
                        <div class="container">
                            <div class="row justify-content-between">

                                <!-- Address Section -->
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-7">
                                    <div class="eb_h3-footer-widget1 mb-30">
                                        <div class="eb_h3-footer-logo">
                                            <a href="index.html">
                                                <img src="assets/images/logo/logo.webp" alt="Triv Logic">
                                            </a>
                                        </div>
                                        <div class="eb_h3-footer-para">
                                            <h8>Your trusted partner for innovative digital solutions, web development,
                                                and branding strategies that drive business growth.</h8>
                                        </div>

                                        <div class="eb_h3-footer-social">
                                            <ul>
                                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!-- Services Section -->
                                <div class="col-xl-2 col-lg-2 col-sm-5">
                                    <div class="eb_h3-footer-widget mb-30">
                                        <h3 class="eb_h3-footer-widget-title">Services</h3>
                                        <ul>
                                            <li><a href="#">Web Development</a></li>
                                            <li><a href="#">Digital Marketing</a></li>
                                            <li><a href="#">Software Development</a></li>
                                            <li><a href="#">Branding Solutions</a></li>
                                            <li><a href="#">SEO Optimization</a></li>
                                            <li><a href="#">Mobile App Development</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Navigation Links -->
                                <div class="col-xl-2 col-lg-2 col-sm-5">
                                    <div class="eb_h3-footer-widget mb-30">
                                        <h3 class="eb_h3-footer-widget-title">Quick Links</h3>
                                        <ul>
                                            <li><a href="index.html">Home</a></li>
                                            <li><a href="#">Services</a></li>
                                            <li><a href="#">Projects</a></li>
                                            <li><a href="#">News</a></li>
                                            <li><a href="#">Career</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Contact Section (Improved with grouping + icons) -->
                                <div class="col-xl-2 col-lg-3 col-sm-6">
                                    <div class="eb_h3-footer-widget mb-30">
                                        <h3 class="eb_h3-footer-widget-title">Contact</h3>
                                        <ul>
                                            <li><strong>India:</strong></li>
                                            <li><a href="tel:+918848609311">+91 8848609311</a></li>
                                            <li> <a href="tel:+918123010000">+91 8123010000</a></li>

                                            <li class="mt-2"><strong>United Kingdom:</strong></li>
                                            <li> <a href="tel:+447771868301">+44 7771868301</a></li>

                                            <li class="mt-2"><i class="fa-solid fa-envelope"></i>
                                                <a href="mailto:info@trivlogic.com">info@trivlogic.com</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Employee Login Portal -->
                                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-7">
                                    <div class="eb_h3-footer-widget mb-30">
                                        <h3 class="eb_h3-footer-widget-title">Employee Login Portal</h3>
                                        <form action="#">
                                            <input type="email" placeholder="Enter Your Email">
                                            <input type="password" placeholder="Enter Password">
                                            <button type="submit">Login <i
                                                    class="fa-light fa-arrow-up-right"></i></button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="eb_h3-footer-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="eb_h3-footer-copyright-text">
                                        <p>©2025 Triv Logic. All Rights Reserved.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="eb_h3-footer-menu">
                                        <ul>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Terms of Service</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- footer area end -->



            </div>
        </div>
    </div>

                    <!-- Floating contact icons -->
    <div class="edug-contact-icons" id="contactIcons">
        <a href="https://wa.me/+918655897610" target="_blank" class="edug-contact-icon" data-tooltip="Chat on WhatsApp">
            <i class="lni lni-whatsapp"></i>
        </a>
        <a href="mailto:info@eduglobal.in" class="edug-contact-icon" data-tooltip="Send us an Email">
            <i class="lni lni-envelope"></i>
        </a>
        <a href="tel:+918655897610" class="edug-contact-icon" data-tooltip="Call us Now">
            <i class="lni lni-phone"></i>
        </a>
        <a href="#" class="edug-contact-icon" data-tooltip="Live Chat">
            <i class="lni lni-comments"></i>
        </a>
    </div>

    <!-- Back to top with progress -->
    <button class="back-to-top" id="backToTop" aria-label="Back to top">
        <svg class="progress-ring" width="60" height="60">
            <circle class="progress-ring-bg" cx="30" cy="30" r="26" />
            <circle class="progress-ring-fill" cx="30" cy="30" r="26" />
        </svg>
        <i class="lni lni-arrow-up"></i>
    </button>



    <!-- jQuery Js -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script> 
    <script src="assets/js/gsap.min.js"></script>
    <script src="assets/js/ScrollSmoother.min.js"></script>
    <script src="assets/js/ScrollTrigger.min.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/SplitText.min.js"></script>
    <script src="assets/js/chroma.min.js"></script>
    <script src="assets/js/jquery.meanmenu.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/jquery.bxslider.min.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/main.js"></script>

    <script>
        const backToTopBtn = document.getElementById('backToTop');
        const contactIcons = document.getElementById('contactIcons');
        const progressCircle = document.querySelector('.progress-ring-fill');
        const radius = 26;
        const circumference = 2 * Math.PI * radius;

        progressCircle.style.strokeDasharray = `${circumference}`;
        progressCircle.style.strokeDashoffset = `${circumference}`;

        function updateScrollProgress() {
            const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
            const scrollHeight = document.documentElement.scrollHeight - window.innerHeight;
            const scrollProgress = scrollTop / scrollHeight;

            const offset = circumference - scrollProgress * circumference;
            progressCircle.style.strokeDashoffset = offset;

            if (scrollTop > 300) {
                backToTopBtn.classList.add('visible');
                contactIcons.classList.add('visible');
            } else {
                backToTopBtn.classList.remove('visible');
                contactIcons.classList.remove('visible');
            }
        }

        window.addEventListener('scroll', updateScrollProgress);

        backToTopBtn.addEventListener('click', () => {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        });
    </script>

 
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const rows = document.querySelectorAll(".service .row:nth-of-type(2), .service .row:nth-of-type(3)");
    
    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("visible");
          observer.unobserve(entry.target);
        }
      });
    }, { threshold: 0.2 });

    rows.forEach(row => {
      row.classList.add("fade-up");
      observer.observe(row);
    });
  });
</script>
  
</body>


</html>
